<!-- in here is where we can store common features accross all pages -->
<!doctype html>

<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>

	{% load static %}
	<link rel='stylesheet' href="{% static 'styles.css' %}">
	<link rel='stylesheet' href="{% static 'title.css' %}">
	<link rel='stylesheet' href="{% static 'homepage.css' %}">
	<link rel='stylesheet' href="{% static 'productpage.css' %}">
	<link rel='stylesheet' href="{% static 'navbar.css' %}">

	<title>Coffee Title</title>
	
</head>

<body>

	{% include 'title.html' %}

	{% include 'navbar.html' %} <!-- this is similar to what we did to views.py. this is good practice to section off pieces of code so when the project becomes big it is simpler to just edit the navbar in this case -->
	
	{% block content %}
		replace me <!-- this is a placeholder, any file with this block will make use of this whole template. And if this block content is empty in the receiving page then this place holder will show up  -->
	{% endblock %}

	{% include 'footer.html' %}

</body>

</html>