
<div class="navbar-padding">
  
  <nav class="navbar navbar-color navbar-expand-lg navbar-light">

    <div class="collapse.show navbar-collapse navbar-text-color" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order' %}">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>

      </ul>
    </div>

  </nav>
</div>



