{% extends 'base.html' %}


{% block content %}

<!--

high quality products
expertise in coffee cultivation
family values (business relationships are like family)

take away:
	figure out what audience is and tailor words and images appropriately

-->


<br>

<section class="page-section">
	<!-- making use of container-fluid to helps move inside image to the left -->
	<div class="container-fluid prod-img-container-1">
 		<img src="https://images.unsplash.com/photo-1501346220112-1dbcb625301c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="cover horizontal-pos-1" alt=""> 
	</div>

	<div class="frosted-background format-frost-1">
        <div class="text-center p-5 ">
        	<h1>Organic Coffee In Your Cup!</h1>
          	<p class="mb-3">Enjoy your morning coffee with the knowledge that it has been made with sustainable and fair practices.
          	</p>
          <!--
          <div class="intro-button mx-auto">
            <a class="btn btn-xl" href="#">Visit Us Today!</a>
          </div>
      -->
        </div>
    </div>

</section>



<br>

<section class="page-section">
	<div class="container-fluid prod-img-container-2">
 		<img src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="cover horizontal-pos-2" alt=""> 
	</div>

		<div class="frosted-background format-frost-2">
        <div class="text-center p-5 ">
        	<h1>Bringing Us Together!</h1>
          	<p class="mb-3">Nothing quite brings people closer like a hot or refreshing coffee beverage.
          	</p>
          <!--
          <div class="intro-button mx-auto">
            <a class="btn btn-xl" href="#">Visit Us Today!</a>
          </div>
      -->
        </div>
    </div>
</section>

<br>

<section class="page-section">
	<div class="container-fluid prod-img-container-3">
 		<img src="https://images.unsplash.com/photo-1457414104202-9d4b4908f285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1492&q=80" class="cover" alt=""> 
	</div>

      <div class="frosted-background format-frost-3">
        <div class="text-center p-5 ">
          <h1>From The Source!</h1>
            <p class="mb-3">True Colombian flavour. This is a result of mindful farming practices which preserve the original taste of Latin America.
            </p>
          <!--
          <div class="intro-button mx-auto">
            <a class="btn btn-xl" href="#">Visit Us Today!</a>
          </div>
      -->
        </div>
    </div>
</section>

<br>

{% endblock %}


