{% extends 'base.html' %}


{% block content %}

<!--

high quality products
expertise in coffee cultivation
family values (business relationships are like family)

take away:
	figure out what audience is and tailor words and images appropriately

-->


<br>

<section class="page-section">
	<!-- making use of container-fluid to helps move inside image to the left -->
	<div class="container-fluid prod-img-container-1">
 		<img src="https://images.unsplash.com/photo-1501346220112-1dbcb625301c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="cover" alt=""> 
	</div>

	<div class="frosted-background">
        <div class="text-center p-5 ">
          <p class="mb-3">Some text for the first image!
          </p>
          <!--
          <div class="intro-button mx-auto">
            <a class="btn btn-xl" href="#">Visit Us Today!</a>
          </div>
      -->
        </div>
    </div>

</section>



<br>

<section class="page-section">
	<div class="container prod-img-container-2">
 		<img src="https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="cover" alt=""> 
	</div>
</section>

<br>

<section class="page-section">
	<div class="container prod-img-container-3">
 		<img src="https://images.unsplash.com/photo-1457414104202-9d4b4908f285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1492&q=80" class="cover" alt=""> 
	</div>
</section>

<br>

{% endblock %}


